<%- include('partials/header'); %>   
<link rel="stylesheet" href="../assets/css/home.css">
</head>
<body>
  <%- include('partials/navbar'); %>
  <section class="bgOrange">
    <div class="container row text-center banner">
     <div class="col-md-6  col-sm-12 rel" data-scroll-reveal="enter from the bottom after 0.8s">
       <h1 class="exact-center">Your Path to Carnatic Musical Mastery</h1>
     </div>
     <div class="col-md-6 col-sm-12" data-scroll-reveal="enter from the right after 0.8s">
       <img src="assets/img/bannerImg.png" alt="">
     </div>
    </div>
  </section>
  <section class="features" id="features">
    <div class="container">
          <!-- <div class="row" > -->
              <div class="col-lg-12 row mt-5 mb-5">
                   <h3 class="text-center mt-5" data-scroll-reveal="enter from the bottom after 0.1s">
                       <strong>Awesome Features</strong>
                   </h3>
               </div>  
           <!-- </div> -->
    
           <div class="row text-center just-pad">
               <div class="col-lg-6 col-md-6 col-sm-12 mt-3 mb-3" data-scroll-reveal="enter from the bottom after 0.2s">
                 <i class=" fa fa-laptop fa-5x "></i>
                 <h4 ><strong> Online Class</strong></h4>
                <p>
                  Online teaching for abroad is Available.<br>
                  <strong>(one on one class)</strong><br>
                  <strong> Class details </strong> : Weekly twice <br>
                  <strong> Duration </strong> : 40 minutes
                </p>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 mt-3 mb-3" data-scroll-reveal="enter from the bottom after 0.8s" >
                   <i class=" fa fa-group fa-5x "></i>
              <h4 ><strong> Live Group Classes </strong></h4>
             <p>
                 Monday and Friday - <strong>5:30 pm to 6:30 pm</strong> <br>
                 Tuesday, Wednesday, Thursday and Saturday - <strong>5:00 pm to 6:00 pm</strong> <br>
                 <strong> Class details : Weekly thrice </strong> &
                 <strong> Duration : 1 hour </strong>
             </p>
             </div>
           </div>
    
    </div>       
    </section>
     <!--FEATURES SECTION END-->
    
    
     <section class="stats-sec text-center row"  id="pricing">  
       <div class="col-md-6 col-sm-12 students-count" data-scroll-reveal="enter from the left after 0.2s">
           <span class="count">199 <i class="fa fa-user"></i></span> 
           <h1>Students</h1> 
       </div>
       <div class="col-md-6 col-sm-12 experience-count" data-scroll-reveal="enter from the bottom after 0.3s">
           <span class="count">18 <i class="fa fa-clock-o"></i></span>
           <h1>Experience</h1>
       </div>
     </section>
     <!--PRICING SECTION END-->
    
     <section class="contact" id="contact" >
             <div class="container">
                  <div class="row text-center" >
            
                <div class="col">
                
                   <h3 data-scroll-reveal="enter from the bottom after 0.1s mb-5">
                       <strong> Stay Connected </strong>
                   </h3>
                 
               </div>
                 
                </div>
         
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 text-center" data-scroll-reveal="enter from the right after 0.2s">
                     <strong>ADDRESS :</strong>
                         <p>
                          C42, Kadamba Nivas,  
                         <br />
                         Madhura Nagar, Hyderabad,
                         <br />
                         Telangana 500045.
                         </p>
                      
                         </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 text-center" data-scroll-reveal="enter from the left after 0.4s">
                     <strong>Just Small Text</strong>
                      <p>
                        <!-- Stay in Tune with Us : Connect for Musical Inspiration!!! -->
                        Join Our Carnatic Community: Stay Connected for Musical Delights!
                      </p>
                 </div>
    
             </div>
             
             </div>
           </section>
      <!--CONTACT SECTION END-->
      <%- include('partials/footer'); %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <%- include('partials/navbarActiveScript'); %>
    <!--  Scrolling Reveal Script -->
    <script src="assets/js/scrollReveal.js"></script>
    <!--  Scroll Scripts --> 
    <!--  Style Switcher Scripts -->
    <script src="assets/js/styleSwitcher.js"></script>
        <!--  Custom Scripts -->    
    <script src="assets/js/custom.js"></script>

</body>
</html>