:root {
  --first-bg: #ff4d00;
  --second-bg: #ff7400;
  --second-c: #fff;
  --third-c: #000;
}

#menu {
  background-color: var(--first-bg);
}

body {
  background-color: var(--second-bg);
}

.form-container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 100px;
}
