* {
  margin: 0;
  padding: 0;
}

:root {
  --first: #ff4d00;
  --second: #ff7400;
}

#menu {
  background-color: var(--first);
  color: #fff;
  letter-spacing: 1px;
}

/* ================================
    ALBUM STYLES
================================ */
.albumList {
  min-height: 85vh;
}

/*=====================================
  FOOTER STYLES 
    ===================================*/

.myfooter {
  background-color: var(--first);
  padding: 5px 40px 5px 40px;
  color: #fff;
  font-size: 14px;
  text-align: right;
}
