#menu {
  background-color: var(--first);
}

/*=====================================
      HEADERS STYLES 
  ===================================*/

.header-sec .overlay {
  background: var(--second);
}

/*=====================================
      TESTIMONIALS STYLES 
  ===================================*/

.testi-sec .overlay {
  background: var(--first);
}

/*=====================================
      PRICING STYLES 
  ===================================*/

.single-price {
  background-color: var(--third);
}
.multi-price {
  background-color: var(--second);
}
/*=====================================
      FOOTER STYLES 
  ===================================*/

.myfooter {
  background-color: var(--first);
}
